@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Madimi+One&display=swap");

/** Variables **/
:root {
  --bg-color: #222;
  --text-color: #f5f5f5;
  --code-bg-color: #424242;
  --footer-color: #616161;
  --main-width: 1024px;
}

/** General **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Madimi One", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-type: square;
}

ul li {
  margin-left: 1em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: underline;
}
/** Utilities **/
.command {
  font-family: "Inconsolata", monospace;
  background-color: var(--code-bg-color);
  padding: 0.75em;
  border: 1px solid var(--text-color);
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .wrapper {
  margin-left: 2em;
}

article:not(.reverse) .wrapper {
  margin-right: 2em;
}

.alert {
  background-color: #e7e751;
  color: black;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

/** Core **/
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  padding: 1em;
  text-align: center;
  margin: 2em 0;
}

header img#favicon-logo {
  max-width: 128px;
}

main {
  /* Push the footer to the bottom of the page if not enough content */
  flex: 1;
  max-width: var(--main-width);
  width: 100%;
  margin: 0 auto;
}

main article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5em 0;
}

main article p {
  margin: 1em auto;
  line-height: 1.5;
}

main article aside {
  flex-basis: 40%;
  flex-grow: 1;
}

main article aside a img {
  transition: all 0.25s ease-in-out;
  border: 1px solid var(--text-color);
}
main article aside a:hover img {
  scale: 1.1;
}

footer {
  background-color: var(--footer-color);
  text-align: center;
  padding: 1em;
  font-size: 0.85rem;
}
